.formContainer {
	display: flex;
	flex-direction: column;
	padding: 5%;
	row-gap: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--light-scheme-color);
	border-radius: 10px;
	padding: 15px 0;
	row-gap: 20px;
}

.formContainer form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 0 5%;
}

.formContainer form label {
	row-gap: 15px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.formContainer form input {
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	background-color: var(--light-scheme-layout-bgc);
}

.formContainer form label + .placeholder {
	position: relative;
	margin-left: 30px;
	color: var(--light-scheme-error);
	opacity: 0;
	visibility: hidden;
}

.formContainer form label + .placeholder .alert {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
}

.formContainer form label.error input {
	border-color: var(--light-scheme-error);
}
.formContainer form label.error + .placeholder {
	opacity: 1;
	visibility: visible;
}

.alert {
	--size: var(--icon-size-desktop);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17q.425 0 .713-.288T13 16t-.288-.712T12 15t-.712.288T11 16t.288.713T12 17m0-4q.425 0 .713-.288T13 12V8q0-.425-.288-.712T12 7t-.712.288T11 8v4q0 .425.288.713T12 13m0 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
	height: var(--size);
	width: var(--size);
}

.formContainer form button[type="submit"] {
	color: var(--dark-scheme-color);
	background-color: var(--light-scheme-highlight);
	text-align: center;
	transition: transform 0.3s ease;
}

.separate {
	text-align: center;
}

.formContainer form button[type="submit"],
.loginLink {
	border-radius: 5px;
	min-height: 45px;
	cursor: pointer;
	border: 2px solid var(--light-scheme-color);
}

.federation {
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.loginLink {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	background-color: var(--light-scheme-google-bgc);
	transition: transform 0.3s ease;
	color: var(--light-scheme-color);
}

.loginLink span {
	color: inherit;
}

.loginLink svg {
	--size: var(--icon-size-desktop);
	height: var(--size);
	width: var(--size);
}

.linkWrap {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	align-items: center;
}

.linkWrap a {
	color: var(--light-scheme-highlight);
	text-decoration: underline dotted var(--light-scheme-highlight) 2px;
	text-underline-offset: 3px;
}

/* Dark scheme classes */

.dark .formContainer {
	color: var(--dark-scheme-color);
}

.dark .container {
	border-color: var(--dark-scheme-color);
}

.dark .formContainer form input {
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-input-bgc);
}

.dark .formContainer form label + div {
	color: var(--dark-scheme-error);
}

.dark .formContainer form label.error input {
	border-color: var(--dark-scheme-error);
}

.dark .formContainer form button[type="submit"],
.dark .loginLink {
	color: var(--dark-scheme-color);
}

.dark .formContainer form button[type="submit"] {
	background-color: var(--light-scheme-success);
}

.dark .loginLink {
	background-color: var(--light-scheme-color);
	border-color: var(--dark-scheme-switch-bgc);
}

.dark .linkWrap a {
	color: var(--dark-scheme-highlight);
	text-decoration-color: var(--dark-scheme-highlight);
}

/* Pseudo classes */

.formContainer form label:focus-within,
.formContainer form label:hover {
	color: var(--light-scheme-highlight);
}
.formContainer form input:focus,
.formContainer form input:hover {
	border: 2px solid var(--light-scheme-highlight);
}

.formContainer form button[type="submit"]:hover {
	background-color: rgba(var(--light-scheme-highlight-rgb), 0.8);
}

.loginLink:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.1);
}

.formContainer form button[type="submit"]:active,
.loginLink:active {
	transform: scale(0.9);
}

.linkWrap a:hover {
	font-style: italic;
	font-weight: 700;
	text-decoration-thickness: 3px;
}

.dark .formContainer form label:focus-within,
.dark .formContainer form label:hover {
	color: var(--dark-scheme-highlight);
}
.dark .formContainer form input:focus,
.dark .formContainer form input:hover {
	border: 2px solid var(--dark-scheme-highlight);
}

.dark .formContainer form button[type="submit"]:hover {
	background-color: rgba(var(--dark-scheme-success-rgb), 0.6);
}

.dark .loginLink:hover {
	background-color: var(--dark-scheme-switch-bgc);
}

@media (min-width: 400px) {
	.formContainer {
		padding: 5% 10%;
		row-gap: 25px;
	}
}
@media (min-width: 600px) {
	.formContainer {
		padding: 5% 15%;
	}
}
@media (min-width: 700px) {
	.formContainer {
		padding: 5% 20%;
		row-gap: 35px;
	}

	.container {
		padding: 25px 0;
		row-gap: 25px;
	}

	.linkWrap,
	.federation,
	.formContainer form {
		padding: 0 10%;
	}

	.federation,
	.formContainer form {
		row-gap: 20px;
	}
	.formContainer form button[type="submit"] {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.formContainer {
		padding: 5% 30%;
	}
}

@media (min-width: 1300px) {
	.formContainer {
		padding: 5% 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.federation {
		align-items: center;
	}

	.loginLink {
		width: 50%;
	}

	.formContainer form button[type="submit"] {
		width: 50%;
		align-self: center;
	}
	.linkWrap {
		width: 100%;
		flex: 1 1 100%;
		display: flex;
		align-items: center;
	}
}
