header.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-scheme-layout-bgc);
	box-shadow: 0px 5px 5px 1px var(--light-scheme-layout-shadow);
	z-index: 1;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.logo {
	padding: 10px;
}

.logo h1 {
	color: var(--light-scheme-highlight);
}

/* Dark scheme classes */
.dark header.content {
	background-color: var(--dark-scheme-layout-bgc);
	box-shadow: none;
	border-bottom: 1px solid var(--dark-scheme-color);
}

.dark .logo h1 {
	color: var(--dark-scheme-highlight);
}

@media (min-width: 700px) {
	header.content {
		padding: 0 15px;
	}
}

@media (min-width: 1000px) {
	header.content {
		padding: 0 40px;
	}
}

@media (min-width: 1300px) {
	header.content {
		padding: 0 50px;
	}
}
