.register {
	padding: 5%;
}

/* Dark scheme classes */
.dark .register {
	color: var(--dark-scheme-color);
}

@media (min-width: 400px) {
	.register {
		padding: 5% 10%;
	}
}

@media (min-width: 700px) {
	.register {
		padding: 5% 20%;
	}
}

@media (min-width: 1000px) {
	.register {
		padding: 5% 30%;
	}
}

@media (min-width: 1300px) {
	.register {
		padding: 5% 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
