extends layout

block head
  link(rel="stylesheet", href="/stylesheets/userSignIn.css")

block content
  .account
    .wrap 
      h2.title User Sign in
      .container
        a.federation-link(href='/account/login/google')
          .federation-icon
            img(src='/images/google.png' alt=`Google icon`)
          span Sign in With google
        a.federation-link(href='/account/login/facebook')
          .federation-icon
            img(src='/images/facebook.png' alt=`Facebook icon`)
          span  Sign in With facebook

