.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 5px 1px var(--light-scheme-layout-shadow);
	background-color: var(--light-scheme-layout-bgc);
}

.logo {
	padding: 10px;
}

.logo h1 {
	color: var(--light-scheme-highlight);
}

.list {
	display: flex;
}

.list li {
	min-width: 80px;
}

.list li > * {
	display: flex;
	row-gap: 5px;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	color: var(--light-scheme-color);
}

.sun {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5V3m0 18v-2M7.05 7.05L5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636L16.95 7.05M16 12a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.moon {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3zm3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95zm-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31'/%3E%3C/svg%3E");
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.theme {
	display: flex;
	column-gap: 10px;
	align-items: center;
	height: calc(var(--toggle-width) / 3);
}

/* Pseudo classes */
.list li:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

@media (width >= 700px) {
	.header {
		padding: 0 15px;
	}

	.list {
		column-gap: 30px;
	}
}

@media (width >= 1000px) {
	.header {
		padding: 0 40px;
	}

	.list {
		column-gap: 40px;
	}
}

@media (width >= 1300px) {
	.header {
		padding: 0 50px;
	}

	.list {
		column-gap: 50px;
	}
}
