.account {
	display: flex;
	position: relative;
	flex: 1 1 100%;
	padding: 5%;
}

.account .container {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--light-scheme-color);
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
}

.federation-icon {
	width: var(--icon-size-desktop);
	height: var(--icon-size-desktop);
}

.wrap {
	display: flex;
	row-gap: 15px;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 500px;
}

.title {
	color: var(--light-scheme-color);
}

.federation-link {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease;
	cursor: pointer;
	border: 2px solid var(--light-scheme-color);
	border-radius: 5px;
	background-color: var(--dark-scheme-color-bgc);
	padding: 10px;
	width: 100%;
	min-height: 45px;
	color: var(--light-scheme-color);
	white-space: nowrap;
}

/* Pseudo classes */

.federation-link:active {
	transform: scale(0.95) translateY(5px);
}

.federation-link:hover {
	background-color: rgba(var(--light-scheme-color-rgb), 0.2);
}

@media (width >= 440px) {
	.account {
		padding: 40px 10%;
	}

	.wrap {
		row-gap: 20px;
	}
}

@media (width >= 500px) {
	.account {
		padding: 40px 5%;
	}
}

@media (width >= 550px) {
	.federation {
		align-items: center;
	}
}

@media (width >= 600px) {
	.account {
		padding: 40px 0;
	}
}

@media (width >= 900px) {
	.account {
		padding: 50px 0;
	}
}

/* Dark scheme classes */
.dark .federation-link {
	border-width: 1px;
	border-color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-google-bgc);
	color: var(--dark-scheme-color);
}

.dark .federation-link:hover {
	background-color: rgba(var(--dark-scheme-color-rgb), 0.2);
}

.dark .title {
	color: var(--dark-scheme-color);
}

.dark .container {
	border-color: var(--dark-scheme-color);
}

.dark .federation {
	border-color: var(--dark-scheme-color);
}
